/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oxanium:wght@200..800&display=swap');
/*Common CSS*/
*+html {
  margin:0px;
  padding:0px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, footer, section, nav {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, strong .btn1 {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:bold;
  margin:0px;
  padding:0px;
}
img {
  border:0px;
  outline:none;
  max-width: 100%;
}
p {
  margin:0px;
}
ul li, ol li {
  margin:0px;
  padding:0px;
  list-style:none;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.text-center p{
  text-align: center;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.hidden {
  display: none !important;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited, a:hover, a:active {
    text-decoration: none;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
ul, ol{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
button:focus-within, button:focus, button:active, a:hover, a:active, a:focus, select:hover, select:active, select:focus, option:hover, option:active, option:focus {
  text-decoration: none;
  outline: 0;
}
ul{padding: 0; margin: 0;}
a{text-decoration: none; color: inherit;}
a:hover{color: inherit;}
b, strong {
  font-weight: bold;
}




/*Main CSS*/
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  /*font-family: "Inter", sans-serif;*/
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #192959;
  font-size: 16px;
  background-color: #ffffff;
  position: relative;
  word-break: break-word;
}
img{
  max-width: 100%;
  height: auto;
}
section, footer{
  position: relative;
  padding: 40px 0;

}




header {
  position: relative;
  width: 100%;
  transition: 0.3s;
  background-color: #0d1f57;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background-image: url(../images/banner.png);
  background-size: cover;
  background-position: center;
}
.main-heading {
  font-weight: normal;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  display: inline-block;
  padding-bottom: 5px;
}
.sub-heading{
  font-weight: 600;
  font-size: 24px;
}
.btn {
  transition: 0.3s;
  font-weight: 600;
  border: none !important;
  padding: 10px 25px;
}
.btn:hover, .btn:focus, .btn:active{
  transform: scale(1.1);
  box-shadow: none;
  outline: none;
  border: 1px solid transparent;
}
.btn.btn-primary {
  background-image: linear-gradient(to top, #0044ae, #006bf6);
}
.btn.btn-primary:hover{
  background-image: linear-gradient(to top, #006bf6, #0044ae);
}
.btn.btn-secondary {
  background-color: #dfe5f3;
  color: #192959;
}
.heading2{
  font-size: 26px;
}
.heading2.btm-border{
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.body-middle, .dev-list{
  background-color: #eef3fb;
}
.heading-middle-area {
  margin: 35px auto -30px;
}
.heading-middle {
  position: relative;
  z-index: 1;
  background-color: #eef3fb;
  padding: 15px 50px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 3px 30px #a1bbe3;
}
.heading2 span.blue{
  color: #054ddc;
}
.body-top p i {
  font-size: 14px;
}
.heading2.border-lr{
  position: relative;
  width: 100%;
  display: block;
}
.heading2.border-lr span:not(.blue) {
  background-color: #eef3fb;
  padding: 5px 20px;
  z-index: 1;
  position: relative;
}
.heading2.border-lr::before, .heading2.border-lr::after{
  position: absolute;
  content: "";
}
.heading2.border-lr::after {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  left: 0;
  top: 17px;
}
.blocks-area{}
.block-desc {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to top, #eaeff8, #fff);
  box-shadow: 0px 2px 6px rgb(176, 203, 246);
  margin-right: 10px;
  transition: 0.3s;
}
.block-desc:last-child{
  margin-right: 0;
}
.block-desc:hover{
  transform: scale(1.05);
}
.block-desc img{
  transition: 0.3s;
  margin-bottom: 5px;
}
.block-desc:hover img{
  filter: hue-rotate(300deg);
}
.block-desc h3 {
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 15px auto 10px;
  padding-bottom: 10px;
  text-align: center;
}
.block-desc p{}
.body-btm .block-desc{
  position: relative;
  box-shadow: none;
  background: transparent;
}
.body-btm .block-desc p span {
  padding: 3px 12px;
  background-color: #004dbf;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
}
.body-btm .block-desc::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 17px;
  top: 45%;
  right: -28%;
  background-image: url(../images/how-works-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 20;
  background-size: 50px;
}
.body-btm .block-desc:last-child::after{
  display: none;
}
.body-btm .block-desc:not(:first-child) p {
  font-weight: 600;
}
.body-btm .block-desc:first-child{
  opacity: 0.95;
}

.heading3{
  font-weight: normal;
  font-size: 22px;
}
.heading3 strong{}
.heading3 span{
  color: #ca5b0d;
  font-weight: bold;
}
.dev-list-left{
  text-align: center;
  padding: 30px 15px;
  border-radius: 10px;
  background-image: linear-gradient(to top, #eaeff8, #fff);
  box-shadow: 0px 2px 6px rgb(176, 203, 246);
  margin-right: 10px;
  transition: 0.3s;
}
table{
  border-radius: 10px;
  overflow: hidden;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px rgb(176, 203, 246);
}
th, td{
  vertical-align: middle;
}
tr td:first-child{
  max-width: 300px;
}
td{
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
th{
  text-align: center;
  color: #fff !important;
  background-color: #204494 !important;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
table tr th:first-child{
  text-align: right;
}
table tr th:last-child{
  background-color: #095ad7 !important;
} 
table tr td {
  padding: 8px 16px !important;
}
table tr:nth-child(odd) td {
  background-color: #f7f7fc;
}
table tr:nth-child(even) td{
  background-color: #eef1f9;
}
table tr:nth-child(odd) td:last-child {
  background-color: #e5ecf9;
}
table tr:nth-child(even) td:last-child {
  background-color: #d2ddf2;
}
td.checked{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath fill='%231a6961' d='M530.8 134.1C545.1 144.5 548.3 164.5 537.9 178.8L281.9 530.8C276.4 538.4 267.9 543.1 258.5 543.9C249.1 544.7 240 541.2 233.4 534.6L105.4 406.6C92.9 394.1 92.9 373.8 105.4 361.3C117.9 348.8 138.2 348.8 150.7 361.3L252.2 462.8L486.2 141.1C496.6 126.8 516.6 123.6 530.9 134z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}



footer{
  padding: 20px 40px;
  background-color: #0d1f57;
  background-size: cover;
  background-position: center;
  background-image: url(../images/footer.png);
}
.btn.btn-warning{
  background-image: linear-gradient(to top, #e89e3b, #f7ba62);
  color: #15225f;
}









/*Responsive CSS*/
@media (max-width:1199px){
.body-btm .block-desc::after {
  right: -16%;
}
}
@media (max-width:991px){
.blocks-area {
  flex-wrap: wrap;
}
.body-middle .block-desc {
  width: calc(50% - 5px);
  margin-bottom: 10px;
}
.body-middle .block-desc:nth-child(even){
  margin-right: 0;
}
.dev-list-left {
  margin-right: 0;
}
.body-btm .block-desc {
  width: 100%;
  margin: 0 auto 60px;
}
.body-btm .block-desc:last-child {
  margin: 0 auto 0;
}
.heading2 {
  text-align: center;
}
.body-btm .block-desc::after {
  right: 46%;
  transform: rotate(90deg);
  top: auto;
  bottom: -25%;
}

}






@media (max-width:767px){
  header .container{
    position: relative;
    z-index: 1;
  }
  header::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
  }
  .sub-heading {
    font-size: 20px;
  }
  .heading-middle {
    padding: 10px 15px;
  }
}


@media (max-width: 420px) {
.heading2 {
  font-size: 22px;
}
.body-middle .block-desc {
  width: 100%;
  margin-bottom: 10px;
  margin-right: 0;
}
th {
  font-size: 14px;
}
th, table tr td {
  padding: 5px !important;
}
td.checked {
  background-size: 15px;
}
tr td:first-child {
  max-width: 115px;
  font-size: 12px;
}
}






