/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*Common CSS*/
*+html {
  margin:0px;
  padding:0px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, footer, section, nav {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
  margin:0px;
  padding:0px;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
img {
  border:0px;
  outline:none;
  max-width: 100%;
}
p {
  margin:0px;
}
ul li, ol li {
  margin:0px;
  padding:0px;
  list-style:none;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.text-center p{
  text-align: center;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.hidden {
  display: none !important;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited, a:hover, a:active {
    text-decoration: none;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
ul, ol{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
button:focus-within, button:focus, button:active, a:hover, a:active, a:focus, select:hover, select:active, select:focus, option:hover, option:active, option:focus {
  text-decoration: none;
  outline: 0;
}
ul{padding: 0; margin: 0;}
a{text-decoration: none; color: inherit;}
a:hover{color: inherit;}
b, strong {
  font-weight: bold;
}




/*Main CSS*/
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #282828;
  font-size: 16px;
  background-color: #ffffff;
  position: relative;
}
img{
  max-width: 100%;
  height: auto;
}
h3 {
  font-size: 25px;
}
section{
  padding: 40px 0;

}

/*banner area*/
.banner-area{
  background-image: url(../images/banner-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 800px;
}
@media(min-width:1600px){
  .banner-area{
    min-height: 1080px;
  }
}
.banner-area::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(52, 91, 84, 0.35), rgba(52, 91, 84, 0.26));
}
header {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 1920px;
}
.banner-area .container {
  z-index: 2;
  position: relative;
}
.banner-desc {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.banner-desc p{
  font-size: 27px;
}
.page-heading {
  font-size: 45px;
  text-transform: uppercase;
}
.navbar-expand-xl .navbar-nav .nav-link {
  font-weight: 900;
  color: #fff;
  font-size: 17px;
  padding: 5px 16px;
  position: relative;
  transition: 0.3s;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-align: center;
}
.navbar-expand-xl .navbar-nav .nav-link:hover {
  color: #f5f33c;
}
.navbar-expand-xl .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  transition: 0.3s;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  right: auto;
  z-index: 1;
  width: calc(100% - 32px);
  height: 1px;
  left: auto;
}
.navbar-expand-xl .navbar-nav .nav-link::after {
  background-color: #f5f33c;
}
.navbar-expand-xl .navbar-nav .nav-link.active::after, .navbar-expand-xl .navbar-nav .nav-link:hover::after {
  transform: scale(1);
}
.logo img{
  max-width: 300px;
  height: auto;
}
.top-form {
  background: rgba(52, 91, 84, 0.63);
  padding: 10px 20px;
  border-radius: 8px;
}
.top-form .form-group{
  width: 24%;
}
@media(min-width:1199px){
  .top-form{
    max-width: 850px;
  }
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    background: transparent;
    color: transparent;
}
input[type="date"]::-moz-calendar-picker-indicator {
    display: none;
}
input[type="date"]::-ms-clear {
    display: none;
}
.form-control:focus {
  border-color: #f5f33c;
  box-shadow: none;
}
select.form-control{
  background-image: url(../images/icons/icon-select.png);
}
input.form-control.date{
  background-image: url(../images/icons/icon-calendar.png);
}
select.form-control, input.form-control {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 92% center;
  padding-right: 40px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  color: #bbc8ce !important;;
}
input::placeholder {
    color: #bbc8ce !important;
}
.ui-widget-header .ui-icon {
  background-image: url(../images/icons/icon-select.png);
  background-position: center;
  background-size: contain;
}
.ui-datepicker .ui-datepicker-prev span {
  transform: rotate(90deg);
}
.ui-datepicker .ui-datepicker-next span {
  transform: rotate(-90deg);
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  top: 4px !important;
  width: 2em;
  height: 2em;
}
.ui-datepicker-year, .ui-datepicker-month {
  appearance: none;
  background-image: url(../images/icons/icon-select.png);
  background-position: 96% center;
  background-size: 16px;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.btn1.btn-submit{
  width: 100%;
}
.btn1 {
  color: #252525;
  background-color: #f5f33c;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 7px 40px;
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #f5f33c;
  box-shadow: none;
  outline: 0;
  transition: 0.3s;
}
.btn1:hover{
  color: #f5f33c;
  background-color: #252525;
}

input:focus, select:focus, .form-select:focus{
  outline: 0;
  box-shadow: none;
}

.top-social-links {
  position: relative;
  z-index: 2;
}
.social-links li a {
  font-size: 25px;
  padding: 0;
  transition: 0.25s;
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}
.social-links li a:hover{
  transform: scale(1.2);
  background-color: #f5f33c;
}
.social-links li a.instagram{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23345b54' d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z'/%3E%3C/svg%3E");
}
.social-links li a.youtube{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23345b54' d='M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z'/%3E%3C/svg%3E");
}
.social-links li a.linkedin{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23345b54' d='M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z'/%3E%3C/svg%3E");
}
.social-links li a.facebook{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23345b54' d='M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z'/%3E%3C/svg%3E");
}
.social-links li a.pinterest{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23345b54' d='M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z'/%3E%3C/svg%3E");
}
.heading1 {
  color: #21323b;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}
.heading2 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
.heading-para{
  font-size: 16px;
  font-weight: 500;
}
.img-block img{
  border-radius: 8px;
}
.img-block h3{
  font-size: 22px;
}
.img-block h5{
  font-size: 17px;
}
.btn2 {
  display: inline-block;
  background-color: #f5f33c;
  padding: 3px 15px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 17px;
  border-radius: 8px;
  color: #21323b;
  border: 1px solid transparent;
  transition: 0.3s;
}
.btn2:hover{
  color: #f5f33c;
  background-color: #21323b;
  border: 1px solid #f5f33c;
}


.join-diamond {
  background-color: #345b54;
}
.icon-block {
  margin: 0 50px;
}
.icon-block img {
  max-width: 130px;
  max-height: 70px;
}
.icon-block h4 {
  font-size: 20px;
  margin-top: 12px;
}
.icon-block {
  transition: 0.3s;
}
.icon-block:hover {
  transform: scale(1.05);
}
.icon-block:hover img{
 filter: brightness(0) saturate(100%) invert(93%) sepia(30%) saturate(1095%) hue-rotate(358deg) brightness(108%) contrast(92%);
}
.icon-block:hover h4{
  color: #f5f33c;
}




.taaraction-block {
  background-image: url(../images/attraction-bg.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.taaraction-block::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, rgba(52, 91, 84, 0.92) 60%, rgba(0, 0, 0, 0));
}
.taaraction-block > div{
  position: relative;
  z-index: 2;
}
.heading3 {
  font-weight: normal;
  font-size: 42px;
  margin-bottom: 12px;
}








footer{
  position: relative;
  background-color: #345b54;

}
.feedback-block {
  background-color: white;
  border-radius: 8px;
  max-width: 60%;
  margin: 0 auto;
  color: #21323b;
  text-align: center;
  padding: 35px 20px;
  position: relative;
}
.feedback-block::before {
  content: "";
  position: absolute;
  top: -29px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid white;
  left: calc(50% - 15px);
}
.feedback-stars span {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-left: 5px;
  background-size: 16px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23fff' d='M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z'/%3E%3C/svg%3E");
}
.join-newsletter input {
  min-height: 45px;
  text-transform: inherit;
  color: #a3a3a3 !important;
}
.join-newsletter .btn1 {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 20px;
}
.footer-btm{
  font-size: 13px;
}
@media(min-width:1200px){
  .footer-btm{
    max-width: 1920px;
    margin: 0 auto;
  }
}
.footer-btm-left > div{
  margin-right: 10px;
  padding-right: 10px;
  font-size: 13px;
  position: relative;
}
.footer-btm-left > div::after {
  content: "";
  position: absolute;
  height: 60%;
  width: 1px;
  right: 0;
  top: 5px;
  background-color: white;
}
.footer-btm-left > div:last-child::after{
  display: none;
}
footer a:hover {
  color: #f5f33c;
}
.footer-links a{
  font-weight: 700;
}



/* Back to Top Button */
#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: 1px solid transparent;
  outline: none;
  background-color: #f5f33c;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  font-size: 0;
  width: 35px;
  height: 35px;
  transition: 0.3s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23345b54' d='M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z'/%3E%3C/svg%3E");
}
#backToTopBtn:hover {
  border: 1px solid #345b54;
  background-color: white;
}






/*hamburger menu open close animation */
.navbar-toggler:focus, .navbar-toggler:active{
  outline: 0;
  box-shadow: none;
}
.navbar-toggler{
  width: 35px;
  height: 26px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin-left: auto;
}
.navbar-toggler span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #f5f33c;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.navbar-toggler[aria-expanded="true"] span{
  background: #fff;
}
.navbar-toggler span:nth-child(1) {
  top: 0px;
}
.navbar-toggler span:nth-child(2),.navbar-toggler span:nth-child(3) {
  top: 10px;
}
.navbar-toggler span:nth-child(4) {
  top: 20px;
}
.navbar-toggler[aria-expanded="true"] span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}
.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}



/*Responsive*/

@media(max-width:1199px){
.navbar-expand-xl .navbar-nav .nav-link {
  padding: 12px 10px;
}
.navbar-nav {
  text-align: center;
  padding: 10px 0;
}
.navbar{
  position: relative;
  z-index: 9;
}
.navbar-collapse {
  position: absolute;
  top: 100%;
  right: 0;
  width: 250px;
  box-shadow: 0px 5px 15px rgba(1, 1, 1, 0.16);
  background-color: rgba(52, 91, 84, 0.95);
  border-radius: 10px;
}
.img-block h3 {
  font-size: 18px;
}
.img-block h5 {
  font-size: 14px;
}
.btn2 {
  padding: 3px 10px;
  font-size: 15px;
}

}



@media(max-width:991px){
.page-heading {
  font-size: 32px;
}
.feedback-block {
  max-width: 100%;
  padding: 20px;
}
.footer-logo{
  max-width: 400px;
}
}




@media(max-width:767px){
.ofHie:not(header .ofHie) {
    overflow: hidden;
}
.logo img {
  max-width: 250px;
  height: auto;
}
.banner-desc {
  max-width: calc(100% - 55px);
  margin: 0;
  min-height: 350px;
}
.top-form .form-group {
  width: 100%;
  margin-bottom: 12px;
}
h3 {
  font-size: 20px;
}
.social-links li a:hover {
  transform: scale(1);
}
.heading1 {
  font-size: 25px;
  line-height: 26px;
}
.heading2, .heading3 {
  font-size: 22px;
  line-height: 24px;
}
.heading-para {
  max-width: 100%;
  font-size: 14px;
}
.join-top img{
  max-width: 70px;
}
.icon-block img {
  max-width: 70px;
  max-height: 40px;
}
.icon-block h4 {
  font-size: 16px;
  margin-top: 10px;
}
.feedback-stars span {
  width: 20px;
  height: 20px;
  margin-left: 3px;
  background-size: 13px;
}
.footer-logo{
  max-width: 300px;
}

}



@media(max-width:550px){
.logo img {
  max-width: 250px;
  height: auto;
}
.banner-area {
  min-height: 700px;
  padding-top: 15px;
}
.page-heading {
  font-size: 28px;
}
.btn1 {
  font-size: 14px;
  padding: 3px 18px;
}
#backToTopBtn {
  bottom: 15px;
  right: 10px;
}
.banner-desc {
  max-width: 100%;
}
select.form-control, input.form-control {
  background-position: 97% center;
  padding-right: 30px;
}
.btn1.btn-submit {
  padding: 9px;
}
.footer-btm-left > div, .footer-btm {
  font-size: 12px;
}
.footer-btm-left > div {
  margin-right: 6px;
  padding-right: 6px;
}
}



