/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*Common CSS*/
*+html {
  margin:0px;
  padding:0px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, footer, section, nav {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, strong .btn1 {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:bold;
  margin:0px;
  padding:0px;
}
img {
  border:0px;
  outline:none;
  max-width: 100%;
}
p {
  margin:0px;
}
ul li, ol li {
  margin:0px;
  padding:0px;
  list-style:none;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.text-center p{
  text-align: center;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.hidden {
  display: none !important;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited, a:hover, a:active {
    text-decoration: none;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
ul, ol{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
button:focus-within, button:focus, button:active, a:hover, a:active, a:focus, select:hover, select:active, select:focus, option:hover, option:active, option:focus {
  text-decoration: none;
  outline: 0;
}
ul{padding: 0; margin: 0;}
a{text-decoration: none; color: inherit;}
a:hover{color: inherit;}
b, strong {
  font-weight: bold;
}




/*Main CSS*/
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #FFF;
  font-size: 14px;
  background-color: rgb(37, 49, 58);
  /*background-image: url(../images/bg.png);*/
  position: relative;
  word-break: break-word;
}
img{
  max-width: 100%;
  height: auto;
}
section, footer{
  position: relative;

}




header {
  position: relative;
  z-index: 1;
  width: 100%;
  transition: 0.3s;
  background-color: rgba(26, 34, 43, 0.38);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(10px);
  padding: 15px 0;
}
.flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex.between{
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex.center{
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.relative{
  position: relative;
}
.container {
  padding: 0 15px;
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.banner {
  padding-bottom: 25px;
}
.banner-img{
  display: block;
  margin: 0 auto;
}
header a:not(.logo a, .menu-opener){
  transition: 0.3s;
  padding: 5px 16px;
  font-size: 14px;
}
.main-menu{}
.main-menu ul{}
.main-menu ul li{}
.main-menu ul li a{
  display: block;
  position: relative;
}
.main-menu ul li a::after{
  content: "";
  position: absolute;
  width: calc(100% - 32px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  transform-origin: left;
  transform: scale(0);
  left: 16px;
  bottom: 0;
}
.main-menu ul li a:hover::after{
  transform: scale(1.0);
}

.right-menu li:last-child a {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.pc-none{
  display: none;
}

.banner-desc {
  position: absolute;
  bottom: 25px;
}
.banner-desc h1 {
  font-size: 50px;
  font-weight: 600;
}
.banner-desc h2 {
  color: #36a4ff;
  border-bottom: 1px solid #36a4ff;
  display: inline-block;
  font-size: 25px;
  font-weight: 400;
  margin: 0 0 10px;
}
.banner-desc p{}


.banner-btm {
  padding: 10px 0;
  background-color: #1b242b;
  background-image: -webkit-linear-gradient(left, #1b242b 0%, #2f3e48 50%, #1b242b 100%);
  background-image: -moz-linear-gradient(left, #1b242b 0%, #2f3e48 50%, #1b242b 100%);
  background-image: -o-linear-gradient(left, #1b242b 0%, #2f3e48 50%, #1b242b 100%);
  background-image: linear-gradient(to right, #1b242b 0%, #2f3e48 50%, #1b242b 100%);
  box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
  border-bottom: 1px solid rgba(96, 93, 93, 0.4);
}

.banner-btm a {
  padding: 8px 20px;
  background-color: #1466bc;
  font-size: 15px;
  border: 1px solid transparent;
  transition: 0.3s;
  font-weight: 500;
  border-radius: 4px;
}
.banner-btm a:hover{
  transform: scale(1.1);
}

.banner-btm .btn1{
  margin-right: 20px;
  /*background-image: linear-gradient(180deg, #1d7ee3 0%, #005d9b 50%, #0060c6 100%);*/
}
.banner-btm .btn1:hover{
  color: #1466bc;
  background-color: #fff;
  border:  1px solid #1466bc;
}
.banner-btm .btn2{
  /*background-image: linear-gradient(180deg, #3c78af 0%, #33a6f2 50%, #005db2 100%);*/
  background-color: #36a4ff;
}
.banner-btm .btn2:hover{
  color: #36a4ff;
  background-color: #fff;
  border:  1px solid #36a4ff;
}
.main-body{}
.col-1{
  width: 70%;
  padding-right: 20px;
}
.col-2{
  width: 30%;
}
.about-desc {
  padding: 10px 0;
  margin: 10px 0 20px;
  border-top: 1px solid rgba(96, 93, 93, 0.4);
  border-bottom: 1px solid rgba(96, 93, 93, 0.4);
}


.experience-right{
  position: relative;
}
.experience-right::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 118px;
  top: 0;
  left: 0;
  border-left: 1px solid rgba(253, 250, 250, 0.1);
}
.experience-left li {
  display: flex;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(166, 166, 166, 0.15);
}
.experience-left li:last-child{
  border-bottom: 0;
}
.experience-left img{
  margin-right: 10px;
}
.experience-left p{}
.experience-right {
  padding-left: 20px;
  margin-left: 20px;
}
.experience-right ul li {
  text-align: center;
  background: #2d3a41;
  padding: 10px 10px;
  max-width: 80px;
  margin-right: 20px;
  box-shadow: 0px 5px 10px rgba(1, 1, 1, 0.63);
  transition: 0.3s;
}
.experience-right ul li:nth-child(odd){
  background-image: linear-gradient(to top, #1c252d, #505e68);
}
.experience-right ul li:hover{
  transform: scale(1.15);
}
.experience-right img{}
.experience-right p {
  font-size: 14px;
  line-height: 14px;
  margin: 20px auto 0;
}


.review-area {
  position: absolute;
  left: 0;
  top: -70%;
}

.review-top, .review-btm {
  background-color: #29363f;
  padding: 15px 15px;
  margin-bottom: 15px;
  box-shadow: 0 10px 20px rgba(1, 1, 1, 0.45);
}

.review-stars {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
}

.review-desc p {
  position: relative;
  padding-left: 24px;
  margin-bottom: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath fill='%239fa7ad' d='M96 280C96 213.7 149.7 160 216 160L224 160C241.7 160 256 174.3 256 192C256 209.7 241.7 224 224 224L216 224C185.1 224 160 249.1 160 280L160 288L224 288C259.3 288 288 316.7 288 352L288 416C288 451.3 259.3 480 224 480L160 480C124.7 480 96 451.3 96 416L96 280zM352 280C352 213.7 405.7 160 472 160L480 160C497.7 160 512 174.3 512 192C512 209.7 497.7 224 480 224L472 224C441.1 224 416 249.1 416 280L416 288L480 288C515.3 288 544 316.7 544 352L544 416C544 451.3 515.3 480 480 480L416 480C380.7 480 352 451.3 352 416L352 280z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 18px;
}
.review-stars h3 {
  font-size: 25px;
  margin-left: 6px;
  margin-right: 12px;
}


.more-review a {
  position: relative;
  color: #36a4ff;
  margin-left: auto;
  display: block;
  text-align: right;
  transition: 0.3s;
}
.more-review a:hover{
  color: #ff9400;
}
.more-review a span{
  background-color: #111;
}
.more-review a::after{
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  left: 0;
  top: 8px;
}
.more-review a span {
  background-color: #29363f;
  padding-left: 10px;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.review-btm h3{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
}
.review-btm ul{}
.review-btm ul li{
  margin-right: 10px;
  overflow: hidden;
  transition: 0.3s;
}
.review-btm ul li:last-child{
  margin-right: 0;
}
.review-btm ul li:hover{
  transform: scale(1.1);
}

.body-btm {
  border-top: 1px solid rgba(255, 255, 255, 0.11);
  padding-top: 10px;
}
.body-btm ul {
  padding: 15px 0;
}
.body-btm li {
  display: flex;
  align-items: flex-start;
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid rgba(255, 255, 255, 0.11);
}
.body-btm li:last-child{
  border-right: none;
}
.body-btm li img{
  margin-right: 15px;
}

footer{
  padding: 10px 0 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.11);
}
footer ul li{
  margin-right: 15px;
}
footer ul li a{
  display: block;
  transition: 0.3s;
}
footer ul li a:hover{
  transform: scale(1.25);
}


.menu-opener-area{
  display: none;
}
.menu-opener {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  padding: 5px;
}
.menu-opener span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.menu-opener span:nth-child(2){
  top: 15px;
}
.menu-opener span:nth-child(3) {
  top: 25px;
}
.menu-opener.active span:nth-child(1) {
  transform: rotate(-45deg) translateX(-5px) translateY(-5px);
  transform-origin: top right;
}
.menu-opener.active span:nth-child(2){
  transform: scale(0);
}
.menu-opener.active span:nth-child(3) {
  transform: rotate(45deg) translateX(-5px) translateY(-5px);
  transform-origin: top;
}

/*Responsive CSS*/

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1470px) {
  .container {
    max-width: 1460px;
  }
  .experience-right ul li {
    max-width: 110px;
  }
}

@media (max-width:1199px){
  .col-1{
    width: 65%;
  }
  .col-2{
    width: 35%;
  }
}
@media (max-width:991px){

.menu-opener-area{
  display: block;
}
.main-menu {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #202b34;
  padding: 10px 10px;
  transition: 0.3s;
  transform-origin: top;
  transform: scaleY(0);
}
.main-menu ul{
  display: flex;
  flex-direction: column;
}
.main-menu ul li{
  margin-bottom: 15px;
}
.main-menu ul li a{}
.main-menu.open{
  opacity: 1;
  transform: scaleY(1.0);
  z-index: 1;
  box-shadow: 0 10px 20px rgba(1, 1, 1, 0.45);
}


.main-body-desc{
  flex-direction: column;
}
.col-1, .col-2{
  width: 100%;
}
.experience {
  flex-direction: column;
}
.experience-right{
  padding-left: 0;
  margin-left: 0;
}
.experience-right::after {
  display: none;
}
.review-area {
  position: relative;
  top: auto;
  margin: 15px auto 20px;
}

}


@media (max-width:767px){
.logo img {
  max-width: 200px;
}
.banner-img {
  min-height: 200px;
  object-fit: cover;
  /*filter: brightness(50%);*/
}
.banner-desc h1 {
  font-size: 30px;
}
.banner-desc h2 {
  font-size: 18px;
}
.body-btm ul {
  flex-direction: column;
}
.body-btm ul li{
  margin-bottom: 15px;
  border-right: 0;
}
}


@media (max-width: 575px) {

.container {
  width: calc(100% - 30px);
  overflow: hidden;
  max-width: 100%;
}
.mobile-none{
  display: none;
}
.pc-none{
  display: block;
}
.banner-btm a {
  padding: 5px 12px;
  font-size: 14px;
}
.banner-desc {
  position: relative;
  bottom: auto;
  padding: 10px 0 15px;
}

}






